<div class="cont p-5 mb-4 lc-block col-xxl-7 mx-auto  col-lg-8 col-12" style=" backdrop-filter: blur(6px) saturate(102%);
-webkit-backdrop-filter: blur(6px) saturate(102%);
background-color: rgb(44, 62, 80,.90);
border-radius: 12px;
border: 1px solid rgba(209, 213, 219, 0.3);">
<div class="lc-block">
  <div editable="rich">
    <h2 class="fw-bolder display-3">Contact Page</h2>
  </div>
</div>
<div class="lc-block col-md-11">
  <div editable="rich">
    <p class="lead">"Techie Talk is your go-to destination for the latest insights, trends, and discussions in the world of technology. From software development and programming tips to the hottest tech innovations, we bring you expert content to keep you informed and inspired. Join us as we explore the ever-evolving tech landscape!
    </p>
  </div>
</div>

</div>
