$primary-color:#2C3E50;
$second-color: #E74C3C ;

body{
  background-color: $primary-color;
  color: $second-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
div p{
  font-family: Arial, Helvetica, sans-serif;
}
